.btn-outline-success{
    border-color: #00828f !important;
}



.card-dashboard {
            transition: transform 0.3s;
            cursor: pointer;
        }
        .card-dashboard:hover {
            transform: scale(1.05);
        }